* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: whitesmoke;
} */
body{
    padding: 1em;
    background: #2B3134;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    margin: 1em 0;
    border-bottom: 1px dashed;
    padding-bottom: 1em;
    font-weight: lighter;
  }

 h2{
    margin: 1em 0;
    /* border-bottom: 1px dashed; */
    padding-bottom: 1em;
    font-weight: lighter;
  }

header {
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    width: 100%;
}

header p {
    font-size: 18px;
    padding: 10px;
}

main {
    
}
.intro {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    color: black;
    height: 35vh;
    padding: 10vh 15vw;
}

.intro img {
    height: 15vh;
    width: 15vh;
    margin-right: 3vw;

}
.intro-info {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.intro-info h1 {
   
}

.intro-info h2 {

    
}

.intro-info p {
    
    /* font-size: 1.5rem; */
}

.intro-social {
    display: flex;
    flex-direction: row;
}
.portfolio {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10vh 15vw;
    height: 65vh;
}

.portfolio-item {
    width: 17vw;
    height: 20vh;
    background-color: whitesmoke ;
    margin:1.5vw;
    
}


svg path,
svg rect{
  fill: #FF6700;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  